body {
  height: 100%;
  background-color: #444;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

#progress, #progress-value {
  position:absolute;
  height: 10vh;
}

#progress {
  width: 100vw;
}

#progress-value {
  width: 0;
  background-color: white;
}

#clock {
  font-size: 30vw;
  line-height: 35vw;
}

#text {
  font-size: 10vw;
  line-height: 10vw;
}